body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background: rgb(68, 244, 244);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #b34c8f;
}

.profile-img {
    width: 200px;
    border-radius: 10%;
    margin-top: 10px;
}

.bio {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
    line-height: 1.6;
}
